@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Main
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Info overzichten
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Admin/Meetings">
                        Meetings Overzicht
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-md-9" style="background-color: powderblue;">
        This wil contain the admin dashboard
    </div>
</div>